header {
    
    /*Flex Box */
    display: flex;
    justify-content: center;
    align-items: center;

    /*sizing*/
    height: 100vh;
    width: 100vw;

    /*Text Align*/
    text-align: center;

    /* Background Image */
    background-image: url(/images/tampabay.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

header h1 {
    font-size: 7em;
    color: aliceblue;
    text-shadow:5px 2px 5px black;
}


nav {
    display: flex;
    justify-content: center;
    background-color: rgb(35, 35, 35);
}

nav a {
    text-align: center;
    font-size:x-large;
    padding: 1em;
    font-family: 'Times New Roman', Times, serif;
}
a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(127, 127, 127);
    text-decoration: underline;
  }

body {
    background-color: white;
}

main {
    padding-right: 50px;
    padding-bottom: 5em;

}

main>img {

    /*side image in the main tag*/
    float: left;
    width: 500px;
    height: 500px;
    padding-top: 10em;
    padding-left: 3em;
}

main>p {
    
    /*text within main*/
    padding-top: 5em;
    padding-left: 30em;
    font-size: larger;

}


.imageframe {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3em;
    gap: 1%;
}

.images {

    display: inline, flex;
    justify-content: center;
    padding: 2em;
    width: 500px;
    height: 500px;

}

footer{
    background-color: rgb(77, 77, 77);
    padding: 1em;
}

footer p {
    display: flex;
    justify-content: center;
    font-size: large;
    color: white;
    
}


