.image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav {
    padding: .5em;
    background-color: rgba(234, 214, 251, 0.67);
}

nav a {
    text-align: center;
}

#bodytext1 {
    float: left;
}

#bodytext2 {
    float: right;
}
